<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AJJD Hotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="pageContainer">
        <header>
            <h1>AJJD Hotel</h1>
            <nav>
                <button id="toggleRole">Click for admin view</button>
                <button id="toggleLogin">Click to toggle login state</button>
                <img src="~/icons8-menu-32.png" alt="nav-icon" id="navIcon"/>
                <ul id="navLinks" class="hideLink">
                    <li><a href="~/">Home</a></li>
                    <li class="adminView hideLink"><a href="~/ManageRoomTypes">Manage Room Types</a></li>
                    <li class="adminView hideLink"><a href="~/Report">Get Reports</a></li>
                    <li><a href="~/AreaInfo">Discover Augusta</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav>
        </header>

        <main>
            <div class="banner">
                @RenderSection("banner", required: false)
            </div>
            <div class="contentContainer">
                @RenderBody()
            </div>
        </main>


        <footer>
            &copy; 2020 - AJJD Hotel
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="~/js/site.js"></script>
</body>
</html>
