@using Microsoft.AspNetCore.Identity
@using AJJDHotel.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a id="register" asp-area="Identity" asp-page="/Account/Register" class="chgLinkTxt">Register</a>
    </li>
    <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login" class="chgLinkTxt">Login</a>
    </li>
}
