@page
@model AJJDHotel.Pages.AreaInfoModel
@{
}

<h1>Discover Augusta</h1>

<div class="columnWrapper">
    <div class="left">
        <h3>Right now, in Augusta, GA:</h3>
        <div id="weatherResult" class="resultItem"></div>
    </div>
    <div class="right">
        <h3>Best local restaurants:</h3>
        <div id="restaurantResults" class="resultItem">
        </div>
    </div>
</div>

<script src="~/js/areaInfoScript.js" asp-append-version="true"></script>
