@page
@model AJJDHotel.Pages.AreaInfoModel
@{
}

<h1>Discover Augusta</h1>

<div class="columnWrapper">
    <div class="weather">
        <h3>Right now, in Augusta, GA:</h3>
        <div id="weatherResult" class="resultItem"></div>
    </div>
    <div class="yelp">
        <h3>Favorite local spots:</h3>
        <div>
        </div>
    </div>
</div>

<script src="~/js/areaInfoScript.js" asp-append-version="true"></script>
