@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section banner{
    <img src="~/b.png" />
}
<h1>Hotel Name</h1>


<div id="indexSearchArea">
    <img src="https://media.comicbook.com/uploads1/2014/07/overlook-hotel-103177.jpg" alt="testImg" width="640" height="484" />
    <p>To get started, enter the dates of your stay</p>
    <partial name="SearchBarPartial" model="5" />

    <div class="adminView hideLink">
        <form action="#" class="searchBar">
            <label for="searchByResNumber">
                Enter reservation number:
                <input type="number" id="searchByResNumber" name="searchByResNumber" />
            </label>
            OR
            <label for="searchByCustName">
                Enter customer's name:
                <input type="text" id="searchByCustName" name="searchByCustName" />
            </label>
            <label for="submit">
                <a href="#"><input type="button" id="submit" value="Search" /></a>
            </label>
        </form>
    </div>
</div>
