@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section banner{
    <img src="~/b.png" alt="bedView" class="slideImg hideLink" />
    <img src="~/pexels-engin-akyurt-2736388.jpg" alt="roomView" class="slideImg hideLink" />
    <img src="~/pool.jpg" alt="poolView" class="slideImg hideLink" />
    <img src="~/food.jpg" alt="poolView" class="slideImg hideLink" />

}



<div id="indexSearchArea">
    <h4>To get started, enter the dates of the trip</h4>
    <partial name="SearchBarPartial" model="5" />

    <div class="adminView hideLink">
        <h4>Or search below to manage a reservation</h4>

        <form action="#" class="searchBar">
            <label for="searchByResNumber">
                Enter reservation number:
                <input type="text" id="searchByResNumber" name="searchByResNumber" />
            </label>
            OR
            <label for="searchByCustName">
                Enter customer's name:
                <input type="text" id="searchByCustName" name="searchByCustName" />
            </label>
            <label for="submit">
                <a href="~/ManageReservations"><input type="button" id="submit" value="Search" /></a>
            </label>
        </form>
        <br />
        <br />
    </div>
</div>
