@page
@using AJJDHotel.Utility
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section banner{
    <img src="~/b.png" alt="bedView" class="slideImg hideLink" />
    <img src="~/pexels-engin-akyurt-2736388.jpg" alt="roomView" class="slideImg hideLink" />
    <img src="~/pool.jpg" alt="poolView" class="slideImg hideLink" />
    <img src="~/food.jpg" alt="poolView" class="slideImg hideLink" />

}


<div id="indexSearchArea">

    <h4>To get started, enter the dates of the trip</h4>
    <partial name="SearchBarPartial" model="5" />

    @if (User.Identity.IsAuthenticated && User.IsInRole(SD.AdminUser))
    {
        <div>
            <h4>Or search below to manage a reservation</h4>
            <form method="Post" asp-page-handler="Manage">
                <div class="searchBar">
                    <label for="searchByResNumber">
                        Enter reservation number:
                    </label>
                    <input type="text" id="ResNumber" name="ResNumber" />

                    OR

                    <label for="GuestEmail">
                        Enter guest's email:
                    </label>
                    <input type="text" id="searchByCustName" name="GuestEmail" />

                    <input type="submit" name="submit" value="Search" class="btn buttonblue" />
                </div>
            </form>
                <br />
                <br />
        </div>
    }

</div>

