@page
@model AJJDHotel.Pages.ManageReservationsModel
@using AJJDHotel.Models;
@using System.Text;

<h1>Manage Reservations</h1>
@if (Model.WasSuccess)
{
    <table class="resTable">
        <tr>
            <th>Confirmation Number</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Check-in date</th>
            <th>Check-out date</th>
            <th>Number of guests</th>
            <th>Total charge</th>
            <th>Management Options</th>
        </tr>
        @if (Model.QueryByResNum != null)
        {
            <tr>
                @Html.Raw(RenderRow(Model.QueryByResNum))
                <td>
                    <a asp-page="./Reservations/Delete" asp-route-id="@Model.QueryByResNum.ReservationId">Delete</a>
                </td>
            </tr>
        }
        else if (Model.QueryByEmail != null)
        {
            foreach (var res in Model.QueryByEmail)
            {
                <tr>
                    @Html.Raw(RenderRow(res))
                    <td>
                        <a asp-page="./Reservations/Delete" asp-route-id="@res.ReservationId">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>The search criteria do not match an existing reservation. Please try again: <a href="~/Index">Home</a></p>
}

@functions
{
    string RenderRow(Reservation res)
    {
        StringBuilder sb = new StringBuilder();
        string open = "<td>";
        string close = "</td>";

        sb.Append(open);
        sb.Append((8744304 + res.ReservationId));
        sb.Append(close);
        sb.Append(open);
        sb.Append(res.Room.RoomNumber);
        sb.Append(close);
        sb.Append(open);
        sb.Append(res.Room.RoomType.RoomName);
        sb.Append(close);
        sb.Append(open);
        sb.Append(res.StartDate.Date.ToString("d"));
        sb.Append(close);
        sb.Append(open);
        sb.Append(res.EndDate.Date.ToString("d"));
        sb.Append(close);
        sb.Append(open);
        sb.Append(res.NumGuests);
        sb.Append(close);
        sb.Append(open);
        sb.Append($"{res.TotalCharge:C}");
        sb.Append(close);

        return sb.ToString();
    }


}