@page
@model AJJDHotel.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}
<h1>The page you are looking for could not be found.</h1>
@*<a asp-page="/Index" class="btn btn-primary">
        Click Here To Go Back
    </a>*@

<a href="javascript: history.go(-1)" class="btn btn-primary">
    Click Here To Go Back
</a>
