@page
@model AJJDHotel.Pages.OrderSummaryModel
@{ 
    ViewData["Title"] = "Order Summary";
}

<div>
    <h1>Order Summary</h1>
    <p>Review your information</p>
    <h2>Name:</h2>
    <h2>Email:</h2>
    <h2>Phone Number:</h2><br />
    <h2>[concise summary of room info]</h2><br />
    <h2>Order total:</h2><br />
    <button type="button" class="btn">Place your order</button>
</div>
