@page
@model AJJDHotel.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div>
    <h1>Thank you, your room has been reserved.</h1>
    <p>Please check your email for order confirmation number or visit <a href="~/MyAccount">My Account</a> to review reservation information</p>
    <h2>Confirmation number: [conf num goes here]</h2>
    <h2>[Possibly the room info again]:</h2>

</div>
