@page
@model AJJDHotel.Pages.OrderConfirmationModel

@{
    ViewData["Title"] = "Order Confirmation";
}

<div>

</div>
<div class="textContainer">
    <h1>Thank you, your room has been reserved.</h1>
    <p>Please check your email for order confirmation number or visit <a href="~/MyAccount">My Account</a> to review reservation information.</p>
    <h3>Confirmation number: A21746</h3>
    <div class="resultItem">
        <img src="@Model.Results[0].ImgPath" alt="testImg" height="128" width="128" />

        <div class="textContainer">
            <h3>@Model.Results[0].RoomName</h3>
            <h5>$@Model.Results[0].Rate</h5>
            <p>@Model.Results[0].Description</p>
        </div>
        @*<partial name="ResultItemPartial" model="Model.Results" />*@
    </div>

