@page
@model AJJDHotel.Pages.PurchaseModel
@{
    ViewData["Title"] = "Purchase";
}

<h1>Enter your information</h1> 

<div class="textContainer">
    <div class="resultItem">
        <img src="@Model.RoomsAvailable[Model.RoomChosen].ImgPath" alt="testImg" height="128" width="128" />

        <div class="textContainer">
            <h3>@Model.RoomsAvailable[Model.RoomChosen].RoomName</h3>
            <h5>$@Model.RoomsAvailable[Model.RoomChosen].Rate</h5>
            <p>@Model.RoomsAvailable[Model.RoomChosen].Description</p>
        </div>
    </div>
</div>

    <div class="form-group row">
        <label for="PurchaseName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="PurchaseName" >
        </div>
    </div>
    <div class="form-group row">
        <label for="PurchaseEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" id="PurchaseEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="PurchasePhone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="tel" id="PurchasePhone" >
        </div>
    </div>
    <div class="form-group row">
        <a href="~/OrderSummary?id=@Model.RoomChosen"><button type="submit" class="btn btn-success">Continue</button></a>
    </div>

