@page
@model AJJDHotel.Pages.PurchaseModel
@{
    ViewData["Title"] = "Purchase";
}

<div id="account">
    <form id="purchase-form" name="purchase-info" method="post" class="col-8 textbox">
        <h2>Enter your information</h2>
        <div>
            <label for="PurchaseName" class="col-sm-2">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="PurchaseName">
            </div>
        </div>
        <div>
            <label for="PurchaseEmail" class="col-sm-2">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="PurchaseEmail">
            </div>
        </div>
        <div>
            <label for="PurchasePhone" class="col-sm-2">Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="PurchasePhone">
            </div>
        </div>
        <div>
            <a href="~/OrderSummary?id=@Model.RoomChosen"><button type="submit" class="btn btn-success buttonblue">Continue</button></a>
        </div>
    </form>
</div>
<div class="textContainer">
    <div class="resultItem">
        <img src="@Model.RoomsAvailable[Model.RoomChosen].ImgPath" alt="testImg" height="128" width="128" />
        <div class="textContainer">
            <h3>@Model.RoomsAvailable[Model.RoomChosen].RoomName</h3>
            <h5>$@Model.RoomsAvailable[Model.RoomChosen].Rate</h5>
            <p>@Model.RoomsAvailable[Model.RoomChosen].Description</p>
        </div>
    </div>
</div>


