@model List<AJJDHotel.Models.ResultItem>
@{
}
<div class="resultsWrapper">

    @foreach (var item in Model)
    {
        <div class="resultItem">
            <img src="@item.imgPath" alt="testImg" height="128" width="128" />

            <div class="textContainer">
                <h3>@item.Name</h3>
                <a href="~/Purchase"><button>Reserve</button></a>
                <h5>$@item.Rate</h5>
                <p>@item.Description</p>
            </div>
        </div>
    }

</div>