@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.SearchResultsModel
@{
}

<h1>Search Results</h1>
<div id="searchForm">
    <partial name="SearchBarPartial" model="5" />
</div>
<br />
<partial name="ResultItemPartial" model="Model.AvailableRoomTypes" />
