@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.SearchResultsModel
@{
}

<h1>Search Results</h1>
<div id="searchForm">
    <partial name="SearchBarPartial" model="5" />
</div>

<select id="bedViewBy"  onChange="bedBox()">
    <option value="1 King">1 King</option>
    <option value="1 Queen">1 Queen</option>
    <option value="2 Queen">2 Queen </option>
    <option value="Any" selected="selected"> Any</option>
</select>


<br />
<partial name="ResultItemPartial" model="Model.AvailableRoomTypes" />


<script>

    function bedBox() {
        var e = document.getElementById("bedViewBy");
        var boxInput = e.options[e.selectedIndex].value;
        var allItems = document.querySelectorAll(".resultsWrapper .resultItem");
        for (var i = 0; i < allItems.length; i += 1) {
            var divValue = allItems[i].getElementsByTagName("input")[1].value;
            if (boxInput != "Any") {
                if (divValue != boxInput) {
                    allItems[i].classList.add("hide");
                }
                else {
                    allItems[i].classList.remove("hide");
                }
            }
            else {
                allItems[i].classList.remove("hide");
            }
        }


    }



  
        
        
</script>