@page
@model AJJDHotel.Pages.SorryModel
@{
    ViewData["Title"] = "Sorry";
}

<h1>Sorry Page</h1> @*Comment for sorry page.*@

<div>
    <h2>Sorry - this item is no longer available</h2>
    <h3>Click below to try again</h3>
    <a href="~/SearchResults?sorry=true"><button type="button">Back to results</button></a> @*Button that goes back to results*@

</div>