@page
@model AJJDHotel.Pages.SorryModel
@{
    ViewData["Title"] = "Sorry";
}

<div id="account">
    <h1 style="padding: 60px 0px 20px 0px">Sorry - this item is no longer available</h1>
    <h3>Click below to return to your search results</h3>
    <a href="~/SearchResults?sorry=true"><button class="btn buttonblue" type="button">Back to results</button></a> @*Button that goes back to results*@

</div>